//===головна==========================================================

.main {
	min-height: 100vh;
	display: flex;
	// background-color: #ffffff;

	&__container {
		padding-top: 100px;
		padding-bottom: 100px;
		// display: flex;
		// align-items: center;
		// justify-content: center;
		// justify-content: space-between;
		display: grid;
		// grid-template-columns: auto 519px;

		grid-template-columns: repeat(2, 1fr);

		// grid-template-columns: repeat(2, 1fr);
		// align-self: center;
		align-items: center;
		// justify-self: center;
		// column-gap: 80px;
		@include adaptiv-value("column-gap", 80, 20, 1);
	}

	&__text-body {
		flex: 0 1 50%;
		// max-width: 485px;
	}

	&__title {
		color: $s;

		&:not(:last-child) {
			margin-bottom: 30px;
		}
	}

	&__text {
		&:not(:last-child) {
			margin-bottom: 20px;
		}
	}

	&__button {
		flex: 0 0 auto;
		// z-index: 5;
	}

	&__image {
		flex: 0 1 50%;
		// max-width: 485px;
		display: flex;

		@include adaptiv-value("column-gap", 46, 20, 1);
		// column-gap: 46px;
		align-items: center;
		justify-content: end;
	}

	&__item {
		overflow: hidden;
		position: relative;
		max-height: 400px;
		max-width: 400px;
		aspect-ratio: 1 / 1;
		margin: 0 auto;
		display: block;
		flex: 1 1 40%;
	}
}

@media (max-width: 1023px) {
	.main__container {
		grid-template-columns: repeat(1, 1fr);
		grid-template-rows: repeat(1, 1fr);
		row-gap: 20px;
		padding-bottom: 40px;
	}

	.main__image {
		justify-content: center;
	}
}